# EditorConfig configuration for htop
# http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file, utf-8 charset
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# match C source and header files, set indent to three spaces
[*.{c,h}]
indent_style = space
indent_size = 3
