# the binary:
htop

# all object files
*.o

# skip all backups
*.bak
*~
.*.sw?

# skip coverage files
*.gcda
*/*.gcda
*.gcno
*/*.gcno
*.h.gch
*/.dirstamp

# automake/autoconf related files
.deps/
/build-aux/
Makefile
Makefile.in
INSTALL
aclocal.m4
autom4te.cache/
conf*/
config.h
config.h.in
config.log
config.status
config.cache
configure
htop.1
libtool
ltmain.sh
stamp-h1

# files related to valgrind/callgrind
callgrind.out.*

# files related to musl build
scripts/musl_static_builddir/
